.panel-default > .black {
	background-color: black;
	color: white;
}

.black {
	background-color: black;
	color: white;
}

body {
	font-family: 'Playfair Display', serif;
	background-image: url("train-track.jpg");
}

#main-cont {
	max-width: 925px;
	margin-left: 10px;
	margin-top: 25px;
}

#copy {
	float: right;
	margin-top: 15px;
	font-family: 'Homemade Apple', cursive;
}